/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }

.images_7 { padding-bottom: 120px; }
.images_4 { background-size: 100%; background-repeat: no-repeat; }
.images_5 { background-size: 100%; background-repeat: no-repeat; }
.images_6 { background-size: 100%; background-repeat: no-repeat; }
.read_bt a { width: 45%; }








}

@media (min-width: 992px) and (max-width: 1199px) {
    
    .titlepage h2::after {width: 58%;}
    .about-box .titlepage h2::after {
        width: 52%;
right: -221px;
    }
    .Nursery-img .text-box h3 {padding: 111px 50px;}
    .contact .titlepage h2::after {
    left: -650px;
width: 30%;
   }

.menu_text li {  padding-right: 17px; font-size: 16px; }
.banner_taital { font-size: 44px; }
.banner_section { background-size: cover; }
.properties_section_2 { width: 100%; text-align: center; }
.waye_main { width: 90%; margin-left: 0px; }
.best_text { padding-top: 40px; }
.search_section { width: 100%; float: left; background-color: #cba806; }
.search_bt_main { margin-left: 0px; }
.search_bt a { width: 90%; }
.quick_text { padding-left: 0px; }
.new_text { width: 95%; }
.images_main { width: 90%; margin-left: 55px; }




}

@media (min-width: 768px) and (max-width: 991px) {
    .main-menu ul > li a {padding: 7px 6px ; }
    .main-menu ul>li a { font-size: 14px;}


    .banner-main .carousel-caption h1 {

        font-size: 36px;
        padding-top: 0px;
    }
    .banner-main .carousel-caption p {

        margin-bottom: 7px;
        display: none;
    }
    .main { width: 15%;}
    .info_icon { min-width: 10%;}
    #main_slider a.carousel-control-prev {
    display: none;
    }
    .btn_main { margin-top: 58px; width: 65%;}
    #main_slider a.carousel-control-next {
    display: none;
    }
    .sporrt_text { margin-top: 0px; font-size: 24px;}
    .email_btn { padding: 41px;}
    .btn-primary {max-width: 144px; }
    .titlepage h2::after {width: 79%;}
    .about-box .titlepage h2::after {width: 73%;
       right: -88px;
    }
    .contact .titlepage h2::after {
        left: -403px;
        width: 41%;
    }
    .paddimg-right {
        padding-right: 15px;
    }
    .paddimg-left {
         padding-left: 15px;
    }


.logo { float: left; text-align: left; }
.banner_section { background-size: cover;}
.menu_text li { display: none; }
.toggle_menu { top: 10px; left: 0; float: right; }
.menu_text { padding-top: 0px; height: 0;}
.image_1 { display: none; }
.taital_main { padding-top: 50px; padding-bottom: 0px; left: -40px; width: 100%; }
.banner_taital { font-size: 38px; width: 100%;}
.taital_main::after { display: none; }
.btn_main { display: none; }
.taital_main > * { left: 80px; }
.contrary_text { width: 78%; font-size: 16px; }
.way_main { padding-top: 0px; display: none; }
.way_main_text { display: none; }
.search_bt_main { margin-left: 0px; }
.carousel-indicators li { display: none; }
.search_section { width: 100%; float: left; background-color: #cba806; }
.contract_text { width: 100%; margin-bottom: 20px; float: right; }
.search_bt a { width: 100%; float: left; }
.Contrary_taital { font-size: 16px; }
.lorem_text { font-size: 16px; }
.image_8 { padding-top: 30px; }
.ipsum_text { font-size: 16px; }
.custom_box-style { width: 413px; }
.properties_section_2 { width: 100%; float: left; }
.contact_section { padding-top: 0px; }
.waye_main { padding: 120px 0px; margin-left: 0px; }
.contact_section { padding-bottom: 60px; }
.copyright_text { font-size: 14px; }
.quick_text { padding-left: 0px; }
.read_bt a { width: 50%; }
.waye_main { width: 100%; padding: 50px 0px; }
.contact_section_2 { padding-right: 40px; }
.waye_taital { font-size: 60px; }
.best_text { font-size: 24px; }
.form-group { margin-bottom: 1rem; }
.send_btn { margin-top: 20px; }
.subscribe_bt { width: 65%; }
.new_text { width: 95%; }



}

@media (min-width: 576px) and (max-width: 767px) {
    .last {display: none;}
    .banner-main .carousel-caption {top: 0%;}
.titlepage h2 {
font-size: 42px;
display: block; 
}
#main_slider a.carousel-control-prev {
    position: absolute;
    left: 25%;
    top: 64%;
    display: none;
}
.btn_main { margin-top: 58px; width: 80%;}
#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 64%;
    display: none;
}
.btn-primary {
    margin-top: 0px;
    margin-left: -7px;
}

.banner-main .carousel-caption h1 {
    font-size: 50px;
}
.titlepage h2::after {
width: 88%;
}

.about-box .titlepage h2::after {width: 45%;
right: -281px;}
.sporrt_text { margin-top: 0px;}
.Nursery-img .text-box h3 {
font-size: 36px;
padding: 126px 40px;
}
.main {
    width: 20%;}

.contact .titlepage h2::after {
    left: -234px;
    width: 55%;
}

.logo { float: left; text-align: left; }
.banner_section { background-size: cover;}
.menu_text li { display: none; }
.toggle_menu { top: -50px; left: 0; float: right; }
.menu_text { padding-top: 0px; height: 0;}
.image_1 { display: none; }
.taital_main { padding-top: 50px; padding-bottom: 0px; left: -40px; width: 100%; }
.banner_taital { font-size: 28px; width: 100%;}
.taital_main::after { display: none; }
.btn_main { display: none; }
.taital_main > * { left: 80px; }
.contrary_text { width: 78%; font-size: 14px; }
.way_main { padding-top: 0px; display: none; }
.way_main_text { display: none; }
.search_bt_main { margin-left: 0px; }
.carousel-indicators li { display: none; }
.search_section { width: 100%; float: left; background-color: #cba806; }
.contract_text { width: 100%; margin-bottom: 20px; float: right; }
.search_bt a { width: 100%; float: left; }
.Contrary_taital { font-size: 16px; }
.lorem_text { font-size: 16px; }
.image_8 { padding-top: 30px; }
.ipsum_text { font-size: 16px; }
.custom_box-style { width: 353px; }
.properties_section_2 { width: 100%; float: left; }
.contact_section { padding-top: 0px; }
.waye_main { padding: 120px 0px; }
.contact_section { padding-bottom: 60px; }
.copyright_text { font-size: 14px; }
.quick_text { padding-left: 0px; }
.new_text { width: 95%; }






} 


@media (max-width: 575px) {
    .last { display: none; }
    .carousel-caption {display: none;} 
.header { padding-top: 0px; }
.logo { float: inherit; padding-bottom: 15px; text-align: center;}
.btn-primary {max-width: 126px;
margin-right: 2px;
font-size: 14px;}
.banner-main .carousel-caption h1 {font-size: 30px; line-height: 38px;}
.titlepage h2 {
    font-size: 27px;
}
.sporrt_text{ 
     font-size: 23px; 
     margin-top: 0px;
}
.main {
    width: 100%;
}
.btn_main {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 55%;}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 175px;
    top: 90%;
    display: none;
}

#main_slider a.carousel-control-next {
    position: absolute;
    left: 236px;
    top: 90%;
    display: none;
}

.titlepage h2::after {
    width: 93%;
}
    .about-box .titlepage h2::after {
        width: 238px;
        right: -50px;
    }
 .Gallery .titlepage h2 {
    font-size: 47px;
 }
    .Gallery .titlepage h2::after {
        width: 89%;
    }

    .paddimg-right {
    padding-right: 15px;
}
.paddimg-left {
    padding-left: 15px;
}
.Nursery-img .text-box h3 {
font-size: 23px;
padding: 30px 14px;

}

.contact .titlepage h2::after {

    left: -8px;
    width: 281px;
}
.footer .headinga span {
font-size: 16px;

}
.menu-bottom {
    margin-bottom: 45px;
}
ul.link li {

    padding: 8px 12px;
    padding-bottom: 0px; 
}

.logo { float: left; text-align: left; }
.banner_section { background-size: cover;}
.menu_text li { display: none; }
.toggle_menu { top: -50px; left: 0; float: right; }
.menu_text { padding-top: 0px; height: 0;}
.image_1 { display: none; }
.taital_main { padding-top: 50px; padding-bottom: 0px; left: -40px; width: 60%; }
.banner_taital { font-size: 30px; width: 100%;}
.taital_main::after { display: none; }
.btn_main { display: none; }
.taital_main > * { left: 50px; }
.contrary_text { width: 85%; font-size: 14px; }
.way_main { padding-top: 0px; display: none; }
.way_main_text { display: none; }
.search_bt_main { margin-left: 0px; }
.carousel-indicators li { display: none; }
.search_section {
    width: 100%;
    float: left;
    background-color: #cba806;
}
.contract_text { width: 75%; margin-bottom: 20px; float: right; }
.search_bt a { width: 35%; float: right; }
.Contrary_taital { font-size: 16px; }
.lorem_text { font-size: 16px; }
.image_8 { padding-top: 30px; }
.ipsum_text { font-size: 16px; }
.custom_box-style { width: 265px; margin-left: 0px; height: 210px; margin: 0px; float: none;}
.properties_section_2 { width: 100%; float: left; }
.contact_section { padding-top: 0px; }
.waye_main { padding: 120px 0px; width: 100%; margin: 0 auto; }
.contact_section { padding-bottom: 60px; }
.new_text { width: 95%; }
.images_main { width: 100%; margin: 0 auto;  padding-top: 40px;  text-align: center; float: none;}
.images_left { margin-bottom: -100px !important; }
.images_right { margin-top: -100px !important; }
.copyright_text { font-size: 13px; }






}